.header-container {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 8px 20px;

    justify-content: center;
    flex-shrink: 0;

    background: #70259B;
}

.header-content-container {
    display: flex;
    width: 90%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    background: #70259B;
}


.header-list {
    display: flex;
    width: 649px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.header-list-item {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 20px;
    background: var(--primary-main, #70259B);
}

.header-list-item-text {
    color: var(--shades-white, #FFF);

    /* body/Bold/14 */
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 21px */
    text-decoration: none;
}

.header-button {
    color: var(--primary-main, #70259B);

    /* body/Bold/14 */
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 21px */

    border-radius: 50px;
    background: var(--shades-white, #FFF);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

}